$lightcolor:#FFFFFF;
$bginput1:#F6F6F8;
$darkcolor:#1D2123;
$primarycolor:#FAF9F9;
$bgcard: #E5E5E5;
$primecolor:#F0289E;
$secondarycolor:#828282;
$lightgray:#F2F2F2;
$fontprimary: 'Euclid Circular A', sans-serif;
$bgbottom:#F0F0F0;
$linecolor:#2A2B2C;
$violetcolor:#9747FF;
